In [25]:
import pandas as pd
data =pd.read_csv('lsd_math_score_data.csv')
data.describe()

       Time_Delay_in_Minutes   LSD_ppm  Avg_Math_Test_Score
count               7.000000  7.000000             7.000000
mean              135.714286  4.332857            50.087143
std               172.347241  1.935413            18.610854
min                 5.000000  1.170000            29.970000
25%                22.500000  3.115000            35.195000
50%                60.000000  4.690000            45.650000
75%               180.000000  5.915000            62.835000
max               480.000000  6.410000            78.930000

In [26]:
data.head()

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65

In [27]:
type(data)

pandas.core.frame.DataFrame

In [28]:
data['Musician_Name'] ='Obrafour'

In [29]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score Musician_Name
0                      5     1.17                78.93      Obrafour
1                     15     2.97                58.20      Obrafour
2                     30     3.26                67.47      Obrafour
3                     60     4.69                37.47      Obrafour
4                    120     5.83                45.65      Obrafour
5                    240     6.00                32.92      Obrafour
6                    480     6.41                29.97      Obrafour

In [30]:
print(data['Avg_Math_Test_Score'])

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [31]:
data['High_score']=100

In [32]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score Musician_Name  \
0                      5     1.17                78.93      Obrafour
1                     15     2.97                58.20      Obrafour
2                     30     3.26                67.47      Obrafour
3                     60     4.69                37.47      Obrafour
4                    120     5.83                45.65      Obrafour
5                    240     6.00                32.92      Obrafour
6                    480     6.41                29.97      Obrafour

   High_score
0         100
1         100
2         100
3         100
4         100
5         100
6         100

In [33]:
data.describe()

       Time_Delay_in_Minutes   LSD_ppm  Avg_Math_Test_Score  High_score
count               7.000000  7.000000             7.000000         7.0
mean              135.714286  4.332857            50.087143       100.0
std               172.347241  1.935413            18.610854         0.0
min                 5.000000  1.170000            29.970000       100.0
25%                22.500000  3.115000            35.195000       100.0
50%                60.000000  4.690000            45.650000       100.0
75%               180.000000  5.915000            62.835000       100.0
max               480.000000  6.410000            78.930000       100.0

In [34]:
data['Avg_Math_Test_Score'] =data['High_score']

In [35]:
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Musician_Name,High_score
0,5,1.17,100,Obrafour,100
1,15,2.97,100,Obrafour,100
2,30,3.26,100,Obrafour,100
3,60,4.69,100,Obrafour,100
4,120,5.83,100,Obrafour,100
5,240,6.00,100,Obrafour,100
6,480,6.41,100,Obrafour,100

In [36]:
data['High_score'] =data['High_score'] **2
#data['High_score'] =data['High_score'] * data['High_score']
#data['Avg_Math_Test_Score'] = data['Avg_Math_Test_Score'] + data['Avg_Math_Test_Score']
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Musician_Name,High_score
0,5,1.17,100,Obrafour,10000
1,15,2.97,100,Obrafour,10000
2,30,3.26,100,Obrafour,10000
3,60,4.69,100,Obrafour,10000
4,120,5.83,100,Obrafour,10000
5,240,6.00,100,Obrafour,10000
6,480,6.41,100,Obrafour,10000

In [37]:
column_list =['LSD_ppm','Avg_Math_Test_Score']
cleanData =data[column_list]

In [38]:
cleanData

   LSD_ppm  Avg_Math_Test_Score
0     1.17                  100
1     2.97                  100
2     3.26                  100
3     4.69                  100
4     5.83                  100
5     6.00                  100
6     6.41                  100

In [39]:
type(cleanData)

pandas.core.frame.DataFrame

In [40]:
y =['Avg_Math_Test_Score']
type(y)

list

In [41]:
y = data[['Avg_Math_Test_Score']] # will mean we are passing a list
type(y)

pandas.core.frame.DataFrame

In [42]:
y = data['Avg_Math_Test_Score'] #will mean we are passing a string
type(y)

pandas.core.series.Series

In [43]:
x =data[['LSD_ppm']]
print(x)
type(x)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

pandas.core.frame.DataFrame

In [44]:
del data['High_score']

In [45]:
del data['Musician_Name']
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                  100
1                     15     2.97                  100
2                     30     3.26                  100
3                     60     4.69                  100
4                    120     5.83                  100
5                    240     6.00                  100
6                    480     6.41                  100